FORM FINAL DATAFRAME

In [28]:
import pandas as pd
import mysql.connector
import numpy as np

#csv file to dataframe

df_andhrapradesh = pd.read_csv("ap_bus_details.csv")
df_assam = pd.read_csv("assam_bus_details.csv")
df_chandigarh = pd.read_csv("chandigarh_bus_details.csv")
df_himachal = pd.read_csv("himachal_bus_details.csv")
df_kerala = pd.read_csv("kerala_bus_details.csv")
df_rajasthan = pd.read_csv("rajasthan_bus_details.csv")
df_southbengal = pd.read_csv("sb_bus_details.csv")
df_telengana = pd.read_csv("Telangana_bus_details.csv")
df_uttarpradesh = pd.read_csv("up_bus_details.csv")
df_westbengal = pd.read_csv("wb_bus_details.csv")
df_jammukashmir = pd.read_csv("jk_bus_details.csv")
df = pd.read_csv("kadamba_bus_details.csv")

final_df=pd.concat([df_andhrapradesh,df_assam,df_himachal,df_kerala,df_rajasthan,df_southbengal,df_telengana,df_uttarpradesh,df_westbengal,df_jammukashmir,df],ignore_index=True)
final_df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 9316,Super Luxury (Non AC Seater 2+2 Push Back),20:20,07h 50m,04:10,4.0,INR 469,23 Seats available
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 35189,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),20:30,04h 35m,01:05,3.8,INR 670,15 Seats available
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 4046,Super Luxury (Non AC Seater 2+2 Push Back),21:00,06h 40m,03:40,4.4,INR 469,16 Seats available
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 9651,Super Luxury (Non AC Seater 2+2 Push Back),21:00,07h 41m,04:41,4.0,INR 469,23 Seats available
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 9654,Super Luxury (Non AC Seater 2+2 Push Back),21:40,07h 40m,05:20,3.0,INR 469,31 Seats available
...,...,...,...,...,...,...,...,...,...,...
7068,Calangute (goa) to Goa,https://www.redbus.in/bus-tickets/calangute-go...,Kadamba Transport Corporation Limited (KTCL) -...,AC Seater (2+2),15:30,00h 31m,16:01,3.7,INR 100,41 Seats available
7069,Calangute (goa) to Panaji,https://www.redbus.in/bus-tickets/calangute-go...,Kadamba Transport Corporation Limited (KTCL) -...,Volvo AC Seater 2+2,13:30,00h 30m,14:00,3.7,INR 100,39 Seats available
7070,Calangute (goa) to Panaji,https://www.redbus.in/bus-tickets/calangute-go...,Kadamba Transport Corporation Limited (KTCL) -...,AC Seater (2+2),15:30,00h 30m,16:00,3.7,INR 100,41 Seats available
7071,Goa Airport to Panaji,https://www.redbus.in/bus-tickets/goa-airport-...,Kadamba Transport Corporation Limited (KTCL) -...,AC Seater (2+2),13:45,01h 00m,14:45,4.4,INR 150,41 Seats available
7072,Goa Airport to Panaji,https://www.redbus.in/bus-tickets/goa-airport-...,Kadamba Transport Corporation Limited (KTCL) -...,AC Seater (2+2),16:00,01h 00m,17:00,4.4,INR 150,39 Seats available

DATA CLEANING

In [29]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7073 entries, 0 to 7072
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         7073 non-null   object
 1   Route_Link         7073 non-null   object
 2   Bus_Name           7073 non-null   object
 3   Bus_Type           7073 non-null   object
 4   Departing_Time     7073 non-null   object
 5   Duration           7073 non-null   object
 6   Reaching_Time      7073 non-null   object
 7   Star_Rating        7073 non-null   float64
 8   Price              7073 non-null   object
 9   Seat_Availability  7073 non-null   object
dtypes: float64(1), object(9)
memory usage: 552.7+ KB

In [30]:
#convert prices to numeric
final_df["Price"]=final_df["Price"].str.replace("INR","")
final_df["Price"]=final_df["Price"].astype(float)
final_df["Price"].fillna(0)

0       469.0
1       670.0
2       469.0
3       469.0
4       469.0
        ...
7068    100.0
7069    100.0
7070    100.0
7071    150.0
7072    150.0
Name: Price, Length: 7073, dtype: float64

In [31]:
# Convert the 'Star_Rating' column to strings
final_df["Star_Rating"] = final_df["Star_Rating"].astype(str)

# Now perform the operations
final_df["Star_Rating"] = final_df["Star_Rating"].str.replace("New", "")
final_df["Star_Rating"] = final_df["Star_Rating"].str.strip()
final_df["Star_Rating"] = final_df["Star_Rating"].str.split().str[0]

# Convert the cleaned string ratings to numeric values
final_df["Star_Rating"] = pd.to_numeric(final_df["Star_Rating"], errors='coerce')

# Fill any NaN values with 0
final_df["Star_Rating"].fillna(0, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_5104\1291482991.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df["Star_Rating"].fillna(0, inplace=True)

In [32]:
# info after the data type change
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7073 entries, 0 to 7072
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         7073 non-null   object
 1   Route_Link         7073 non-null   object
 2   Bus_Name           7073 non-null   object
 3   Bus_Type           7073 non-null   object
 4   Departing_Time     7073 non-null   object
 5   Duration           7073 non-null   object
 6   Reaching_Time      7073 non-null   object
 7   Star_Rating        7073 non-null   float64
 8   Price              7073 non-null   float64
 9   Seat_Availability  7073 non-null   object
dtypes: float64(2), object(8)
memory usage: 552.7+ KB

In [33]:
final_df = final_df[final_df["Price"] <= 7000]

In [34]:
# replacing the nan value
final_df = final_df.replace({np.nan: None})

In [35]:
# Convert the DataFrame to a CSV file
final_df.to_csv("final_df.csv", index=False)

CREATE THE SQL DATABASE

In [36]:
import mysql.connector


mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",


)


print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023658ABF8C0>

In [37]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [41]:
# Table Creation
mycursor.execute('''CREATE TABLE IF NOT EXISTS RED_BUS_DETAILS.bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Route_Name VARCHAR(255) NULL,
                  Route_Link VARCHAR(255) NULL,
                  Bus_Name VARCHAR(255) NOT NULL,
                  Bus_Type VARCHAR(255) NOT NULL,
                  Departing_Time VARCHAR(255) NOT NULL,
                  Reaching_Time VARCHAR(255) NOT NULL,
                  Duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Star_Rating FLOAT NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [39]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO RED_BUS_DETAILS.bus_details(
                    Route_Name,
                    Route_Link,
                    Bus_Name,
                    Bus_Type,
                    Departing_Time,
                    Reaching_Time,
                    Duration,
                    Price,
                    Seats_Available,
                    Star_Rating)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

data = final_df.values.tolist()
# Set batch size to a smaller number
batch_size = 200  # Adjust as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        mycursor.executemany(insert_query, batch_data)
        mydb.commit()
    except Exception as e:
        print(f"Error: {e}")
        mydb.rollback()

print("Values inserted successfully in batches")

Values inserted successfully in batches